{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">


            <form method="POST" action=".">{% csrf_token %}

              <div class="form-group row">
                <label for="id_username" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                  <input type="ID" class="form-control" id="id_username" placeholder="ID" name="username" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_password1" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="id_password1" placeholder="Password"
                         name="password1" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="id_password2" class="col-sm-2 col-form-label">Password Confirm</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="id_password2" placeholder="Password2"
                         name="password2" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 text-right">
                  <button type="submit" class="btn btn-primary">회원가입</button>
                    <a href="/" class="btn btn-secondary" role="button">HOME</a>
                </div>
              </div>

                {% if form.errors %}
                <div class="form-group row">
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors }}
                    </div>
                </div>
              {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}